extends layout

block content
    h1 Form
    form(method="POST" action="/new")
        h2 Enter your message:
        label(for="author") Author's Name:
        input(type="text" id="author" name="author")
        br
        label(for="message") Message Text:
        input(type="text" id="message" name="message")
        br
        button(type="submit") Submit
    a(href="/") Go back to index
